* {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: #f4f5f7;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-image: url(./assets/images/header-background-mobile.png);
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 5rem;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.action .card1 button,
.modal-seeLive-btn,
.modal-seeSource-btn {
  background: none;
  color: #396df2;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 9rem;
  padding: 0.6rem;
  border: 1px solid #396df2;
  border-radius: 0.4rem;
  font-weight: 500;
}

.about button:hover,
.action .card1 button:hover,
.modal-seeLive-btn:hover,
.modal-seeSource-btn:hover {
  background-color: #6070ff;
  color: white;
  font-weight: 700;
}

#menue-btn {
  background: none;
  color: inherit;
  border: none;
}

.mobile-menue-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #6070ff;
  mix-blend-mode: multiply;
  height: 100%;
  background-image: url('./assets/images/Shape.png');
  background-repeat: no-repeat;
  background-position: 50% 99%;
  display: none;
  z-index: 1;
}

.display-menue {
  display: block;
}

.hidden {
  visibility: hidden;
}

.mobile-menue-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 4rem;
  margin-left: 2rem;
  font-size: 1.9rem;
}

.mobile-menue-link li > a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.blur {
  filter: blur(6px);
}

.close-btn {
  background: none;
  border: none;
  float: right;
  margin-top: 1rem;
  margin-right: 2rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.section {
  background-image: url(./assets/images/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4%;
}

header .home-links {
  display: none;
}

.section h1,
.about h2,
.modal-header-h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #172b4d;
  margin-top: 2.1rem;
  margin-right: 8rem;
}

.contact-me p {
  color: white;
  text-align: center;
}

.section p,
.about p {
  color: #344563;
  margin-bottom: 1rem;
}

.section nav {
  margin-top: 3%;
}

nav h3 {
  color: #7f8cff;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 7%;
  margin-top: 2%;
}

.connect-link {
  text-decoration: none;
  margin: 0.6rem 0;
  color: #7f8cff;
}

.social-media-links {
  display: flex;
  gap: 1.2rem;
  margin: 1rem 0;
}

.social-media-links li a:hover {
  font-size: x-large;
}

.action {
  padding: 1rem;
  margin-top: 12rem;
  display: grid;
  gap: 5rem;
}

.action .card1 {
  border: 1px solid #dfe1e6;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  mix-blend-mode: normal;
}

.contact-me img {
  width: 40%;
  margin: auto auto;
}

.action .card1 img {
  justify-content: center;
  width: 100%;
}

.pop-main h2,
.action .card1 h2 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.pop-main ul,
.action .card1 ul,
.modal-first-ul,
.modal-tech-list {
  display: flex;
  gap: 1rem;
  margin-top: 2%;
  margin-bottom: 5%;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 15rem;
}

.about .skills li {
  margin-top: 1rem;
  padding: 0.6rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.about .skills ul li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  color: #253858;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.action .card1 ul:not(:first-of-type) li,
.modal-tech-list-item {
  list-style: none;
  font-size: 0.7rem;
  padding: 4px 12px;
  align-items: center;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 0.5rem;
}

.action .card1 ul:first-of-type li:not(:first-child),
.modal-first-ul-child {
  color: #7a869a;
  margin-left: 1rem;
  list-style: disc;
}

.action .card1 ul:first-of-type li:first-child,
.modal-first-ul-first-child {
  color: #344563;
  font-weight: 600;
}

.action .card1 p,
.modal-content-p,
.modal-content-p2 {
  color: #344563;
}

.btn {
  background: none;
  color: #396df2;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 10rem;
  padding: 0.6rem;
  border: 1px solid #396df2;
  border-radius: 0.4rem;
  font-weight: 500;
}

.about {
  background-color: white;
  padding: 1.5rem;
}

.btn:visited {
  background-color: #2230d2;
  color: white;
  text-decoration: none;
}

.drop-down-btn {
  margin-right: 1.2rem;
  float: right;
}

.line-break {
  background-color: #dfe1e6;
  height: 1px;
}

.contact-me {
  background-image: url(./assets/images/contact\ form\ shapes-mobile.png);
  background-size: auto;
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position-x: right;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  gap: 1.5rem;
}

.contact-me h3 {
  color: white;
  font-size: 2.4rem;
  margin: auto auto;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

.contact-me form input {
  display: block;
  width: 100%;
  height: 3rem;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.8rem;
}

.contact-me form textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 12rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.contact-me .submit-btn {
  font-weight: 700;
  color: #6070ff;
  width: 8rem;
  padding: 0.6rem;
  border: 1px solid #396df2;
  border-radius: 0.4rem;
  background-color: white;
}

.contact-me .submit-btn:hover {
  background-color: #6070ff;
  color: white;
}

.contact-me .submit-btn:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
  background-color: white;
}

.contact-me .submit-btn:visited {
  color: white;
  background-color: #2230d2;
  font-weight: 700;
}

/* momdal style */

/* modal backgrond */
.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  display: flex;
  position: fixed;
  background-color: #fefefe;
  margin-top: 1rem;
  margin-left: 5%;
  padding: 1rem;
  width: 90%;
  z-index: 2;
  top: 0;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2rem;
}

.modal-close {
  font-size: 1.5rem;
  margin-top: 1.9rem;
  color: #67798e;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#see-live-icon {
  margin-bottom: -0.4rem;
  margin-left: 0.2rem;
}

[modal-close-btn] {
  background: none;
  border: none;
  color: #67798e;
  padding: 1rem;
}

.modal-content-p {
  font-size: 13px;
}

.modal-content-p2 {
  display: none;
}

.modal-first-ul {
  margin-top: -1rem;
}

@media (min-width: 768px) {
  .modal-content {
    height: 90%;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    overflow: scroll;
    display: flex;
  }

  .modal-content-p2 {
    display: block;
  }

  .modal-tech-list {
    display: flex;
    flex-direction: row;
  }

  .modal-seciotn-bottom {
    display: flex;
    gap: 1rem;
  }

  .modal-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 60%;
    margin-bottom: 5rem;
  }

  .modal-header-h2 {
    font-size: 40px;
  }

  .modal-close {
    font-size: 1.8rem;
  }

  .tech-and-btns {
    width: 40%;
  }

  .modal-first-ul {
    margin-bottom: -0.3rem;
  }

  .container {
    background-image: url(./assets/images/header\ background\ shape-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .container .header {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 3rem;
    position: fixed;
  }

  .header .log {
    margin-left: 5rem;
    margin-top: 0;
  }

  .header .menue-btn {
    display: none;
  }

  .header .home-links {
    display: flex;
    margin-right: 9rem;
    justify-content: space-between;
  }

  .home-links li a {
    text-decoration: none;
    color: #344563;
    font-size: 1rem;
  }

  .section {
    background-image: url(./assets/images/Header\ bg@2x.png);
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
  }

  .section div {
    margin: 10%;
  }

  .section div h1 {
    margin-bottom: 0.3rem;
    font-size: 48px;
    line-height: 3.2rem;
    margin-top: 10rem;
  }

  .section div p {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 20px;
  }

  .connect-link {
    font-size: 1.2rem;
  }

  .social-media-links {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .action {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: auto;
  }

  .action .card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 12px;
    gap: 84px;
  }

  .contact-me img {
    display: none;
  }

  .action .card1 img {
    width: 60%;
    margin: 0;
  }

  .about div:first-child {
    width: 40%;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .about div:nth-child(2) {
    width: 60%;
    margin-right: 4rem;
    color: #344563;
  }

  .action .card1 div {
    max-width: 50%;
    margin: 0;
  }

  .order-1 {
    order: 1;
  }

  .about {
    padding: 34px 64px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto auto;
    border-top-right-radius: 95px;
    margin-top: 75px;
  }

  .about .skills ul li {
    max-width: 7.65rem;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 1rem;
    min-width: 122px;
  }

  .contact-me {
    padding-left: 33%;
    padding-right: 33%;
    justify-content: center;
    margin-top: -75px;
  }

  .contact-me .submit-btn {
    margin: auto auto;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
